/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}
.navbar{
    height: 70px;
    position: static;
    
}
.logo{
    color: rgb(41, 55, 163);
    font-weight: 700;
    font-size: xx-large;
    padding-left: 5%;
}
.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(255, 255, 255);
    background-image: url('https://img.freepik.com/free-photo/white-brush-stroke-texture-background_53876-105851.jpg');
}
.nav-link{
    margin: 20px;
    cursor: pointer;
    color: rgb(13, 22, 192);
    
}
.nav-link a{
    font-size: larger;
    
}


/* hero sectio */
.hero{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('https://images.unsplash.com/photo-1707380659325-0be8120592b5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdsYXNzbW9ycGhpc218ZW58MHx8MHx8fDA%3D');
}
.grid{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;

}.card-grid{
    border-radius: 6%;
    padding-bottom: 10%;
    padding-top: 10%;
    /* display: grid;
    row-gap: 1rem; */
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    box-shadow: 1px 2px 8px 1px rgba(0.1,0.1,0,0.1);
}

.card-grid:hover{
    box-shadow: 10px 10px 10px 0px rgba(77, 115, 255, 0.1);;
}
.btn-card{
    font-size: x-large;
    ;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: 1px 2px 8px 1px rgba(0.1,0.1,0,0.1);
    
}
.btn-card:hover{
    background: rgb(177, 212, 245);
    
}
.btn-card a{
    text-decoration: none;
    color: rgb(63, 60, 60);
}

/* secion about-us */
.about-us{
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.about-text{
    text-align: center;
    padding-top: 40px;
}
.body-text{
    font-size:small;
}
.community{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
}
.card{
    background: rgb(241, 240, 237);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding-top: 15px;
}