*{
    margin: 0%;
    padding: 0%;
}
.body{
    background: white;
}
/* header-section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background: #1D8348;
    padding-bottom: 50px;
    position: static;
    
    
}
.header-logo{
    margin-left: 40px;
}
.header-logo img{
    width: 200px;
}
.header-logo h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(247, 215, 34);
}
.nav-items ul{
    display: flex;
    justify-content: space-between;
    
}
.items{
    list-style: none;
    gap: 50px;
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.items a:hover{
    color: rgb(243, 228, 23);
}
.header-btn{
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    border: none;
    margin-right: 60px;
    cursor: pointer;
    font-size: 15px;
}

/* hero-section */
.hero{
    /* background: #eaff28; */
    display: flex;
    height: 10%;
    
}
.hero-text{
    color: rgb(7, 82, 7);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    line-height: 195%;
    width: 40%;
    font-size: 600%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: #03be51; */
}
.hero-img img{
    padding-left: 1%;
    padding-top: 0px;
    
}
/* section-foods */
.food{
    background: #ffffff;
    padding-bottom: 60px;
    
}
.food-header{
    font-size: 15px;
    color: rgb(7, 82, 7);;
    text-align: center;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 40px;
    
}
.food-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px; /* space between cards */
    padding-left: 25px;
    
}
.food-card{
    height: 90%;
    width: 90%;
    background: rgb(255, 255, 255);
    border-radius: 0px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(196, 196, 194);
    border-radius: 8%;
}
.food-card:hover{
    transform: translateY(0.5px);
    transition: transform 0.3s, box-shadow 0.3s,;
}
.food-card p{
    font-size: 20px;
}
.food-card-btn{
    padding-top: 20px;
}
.food-card img{
    height: 100px;
    width: 120px;
    padding-left: 10%;
    padding-top: 10px;
    border-radius: 10px;
}
.add-btn{
    padding: 20px 40px 20px 40px;
    border-radius: 25px;
    background: #e7d919;
    border: none;
    cursor: pointer;
}
.add-btn:hover{
    transform: translateY(1px);
    transition: transform 0.3s, box-shadow 0.3s,;
}
.more-food{
    align-content: center;
    padding-top: 20px;
    padding-left: 50%;
}
.more-btn{
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    background: #ffffff;
    color: #0cac14;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(196, 196, 194);
}
.more-btn:hover{
    background-color: #eeeeee;
    /* box-shadow: 10px 10px 80px 0.9px rgb(59, 202, 31); */
}

/* service-section */
.service{
    display: flex;
    justify-content: space-between;
    background: #14ac4e;
    padding-top: 30px;
    border-radius: 0%;
    height: 235px;
    padding-bottom: 40px;
}
.service-text-area h1{
    font-size: 200px;
    line-height: 70%;
    color: rgb(255, 255, 255);
    padding-left: 20%;
    text-align: right   ;
}
.service-text-area h2{
    font-size: 200px;
    line-height: 70%;
    color: rgb(2, 56, 16);
    padding-left: 20%;
    text-align: right   ;
}
.service-img-area{
    padding-right: 20%;
}
/* footer */
.footer{
    background: rgb(26, 25, 25);
    margin-top: 16%;
    height: 200px;
    
}